
#  Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

Ordered List:
1. Python
2. R
3. SQL
4. Julia (Optional)

Some of the commonly used libraries used by Data Scientists include:

Odered List:
1. NumPy
2. pandas
3. scikit-learn
4. TensorFlow (Optional)

| Data Science Tools |
| ----------------- |
| Jupyter Notebook  |
| RStudio           |
| PyCharm           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## **Objectives:**


*   python
*   R
*   Numpy
*   Pandas
*   Jupiter Notebook

## Author
Yaswanth Nalla