# Programming_Assignment 23

# Q1

In [1]:
def is_symmetrical(num):
    return str(num) == str(num)[::-1]


print(is_symmetrical(7227))  
print(is_symmetrical(12567))  
print(is_symmetrical(44444444))  
print(is_symmetrical(9939))  
print(is_symmetrical(1112111))

True
False
True
False
True

# Q2

In [2]:
def multiply_nums(nums):
    num_list = [int(num) for num in nums.split(", ")]
    product = 1
    for num in num_list:
        product *= num
    return product


print(multiply_nums("2, 3"))  
print(multiply_nums("1, 2, 3, 4"))  
print(multiply_nums("54, 75, 453, 0")) 
print(multiply_nums("10, -2"))

6
24
0
-20

# Q3

In [3]:
def square_digits(num):
    return int(''.join(str(int(digit)**2) for digit in str(num)))


print(square_digits(9119))  
print(square_digits(2483))  
print(square_digits(3212))

811181
416649
9414

# Q4

In [4]:
def setify(lst):
    return list(set(lst))


print(setify([1, 3, 3, 5, 5]))  
print(setify([4, 4, 4, 4])) 
print(setify([5, 7, 8, 9, 10, 15]))  
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

# Q5

In [5]:
def mean(num):
    digits = [int(digit) for digit in str(num)]
    return sum(digits) // len(digits)


print(mean(42))  
print(mean(12345)) 
print(mean(666))

3
3
6